* {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.content-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.content {
  background-color: lightslategrey;
  border-radius: .2rem;
  padding: 2rem;

}

.ctatistic {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.auth-btn {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.inner-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 4.5rem;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #fff;
  background-color: #0d6efd;

  margin: .25rem .125rem;
  padding: .75rem .25rem;

  border-radius: .37rem;
}

.inner-btn:hover {
  color: #0d6efd;
  background-color: #fff;
}